.form-component {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    gap: 30px;
}

.label-component {
    display: flex;
    gap: 5px;
}