#sensor-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#sensor-container > div input:disabled+label {
    color: #ccc;
    user-select: none;
}

.title {
    display: flex;
    align-items: baseline;
    gap: 25px;
}

#run-title {
    color: #777;
    font-weight: normal;
}