{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="/static/filter.css">

<div class="title">
    <h1>Filter Data</h1>
    <h3 id="run-title">{{ run_name }} at {{ run_location }} on {{ run_datetime }}</h3>
</div>
<form action="{{ download_url }}" method="post">
    <h2>Select Sensors</h2>
    <div id="sensor-container">
        {% for name, enabled in variables %}
        <div>
            <input type="checkbox" class="form-control" id="{{ name }}" name="{{ name }}" {% if not enabled %}
                disabled{% endif%}>
            <label for="{{ name }}">{{ name }}</label>
        </div>
        {% endfor %}
    </div>
    <input type="submit" class="btn btn-primary" value="Download">
</form>


{% endblock %}