{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="/static/home.css">
<h1>Data Viewer</h1>
<h2>Upload Data</h2>
<a href="/upload">
    <button onclick="uploadData()">Upload</button>
</a>
<h2>Available Runs</h2>
<form action="bulk-download" method="post" id="bulk-download">
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Location</th>
                <th>Name</th>
                <th>Date</th>
                <th>Time</th>
                <th>Download All</th>
                <th>Filter Data</th>
            </tr>
        </thead>
        <tbody>
            {% for run in runs %}
            <tr>
                <td><input type="checkbox" id="{{ run.id }}" name="{{ run.id }}" form="bulk-download"></td>
                <td>{{ run.location }}</td>
                <td>{{ run.name }}</td>
                <td>{{ run.date }}</td>
                <td>{{ run.time }}</td>
                <td>
                    <a href="{{ run.download_url }}">
                        <button type="button">Download</button>
                    </a>
                </td>
                <td>
                    <a href="{{ run.filter_url }}">
                        <button type="button">Filter</button>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="submit">Bulk Download</button>
</form>


{% endblock %}